/*----Global Styles---*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*---Navigation----*/

#logo{
    width: 60px;
    height: auto;
    margin: 10px 0 0 10px;
    z-index: 1;
}

#main-nav span{
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#main-nav p{
    color: white;
    display: inline-block;
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

#main-nav a{
    color: white;
    text-decoration: none;
}

#main-nav{
    width: 100%;
    height: 70px;
    margin: 0;
    z-index: 9;
    top: 0;
    position: fixed;
    background-color: #366DD6;
}

#main-nav .container{
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 22px 15px 0 0;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 0 0;
    transition: 0.4s;
    border-radius: 10px;
}

.bar2{
    margin: 6px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*--------Dropdown--------*/

#dropdown-wrapper{
    overflow: hidden;
}

#dropdown{
    height: 0vh;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #333;
    opacity: 0.95;
    z-index: 8;
    position: fixed;
    float: left;
    transition: height 0.3s linear 0s;
    overflow: hidden;
    font-size: 1.6em;
    text-align: left;
}

#dropdown ul{
    position: absolute;
    padding: 70px 0 0 0;
    margin-left: 100px;
    
}

#dropdown ul li{
    list-style: none;
    padding: 10px 0 10px 40px;
    margin: 0;
    display:block;
    color: white;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#dropdown ul li a{
    padding: 5px 0;
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#dropdown ul li a:hover{
    color: #00ADEF;
    transition: 0.2s;
    text-decoration: underline;
}

#dropdown ul li a:active{
    color: #00ADEF;
    transition: 0.2s;
}

/*---------Events dropdown-----*/

#events-dropdown{
    height: 0px;
    width: 100%;
    background-color: #333;
    opacity: 0.95;
    z-index: 8;
    border: none;
    transition: height 0.35s linear 0s;
    overflow: hidden;
    font-size: 0.8em;
    text-align: left;
}

#events-dropdown ul{
    padding-top: 5px;
    position: static;
    margin-left: 0;
}

#events-dropdown ul li{
    list-style: none;
    padding: 0 0 0 20px;
    display:block;
}

#events-dropdown ul li a{
    padding: 5px 0;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.events-container{
    cursor: pointer;
}

#up-arrow{
    display: none;
}

#events-menu:hover{
    color: #00ADEF;
    transition: 0.2s;
}

#events-dropdown ul li a:hover{
    color: #FD6925;
    transition: 0.2s;
}

/*-------Main-header------*/

#main-header .header-image{
    background-image: url(../images/banner-final.jpg);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    z-index: 100;
}

#main-header .header-image-background{
    background-color: #014BCA;
    opacity: 0.8;
}

#main-header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    margin-bottom: 0;
}

#main-header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    z-index: -1;
    background-image: url(../images/final-sdg-wheel-min.jpg);
    background-repeat: no-repeat;
    -webkit-animation: rotating 20s infinite linear;
    background-position: center;
}

@-webkit-keyframes rotating {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*----Section1--------------*/

.section1-wrapper{
    background-color: white;
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    color: black;
}

.sections a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
}

.cta-btn1{
    background-color: #333;
    color: white;
}

.cta-btn2{
    background-color: #FD9D24;
    color: black;
}

.cta-btn1:hover{
    background-color: #4D4D4D;
    transition: 0.2s;
}

.cta-btn1:active{
    box-shadow: none;
}

.cta-btn2:hover{
    background-color: #4D4D4D;
    color: white;
    transition: 0.2s;
}

.cta-btn2:active{
    box-shadow: none;
}

/*----------first section intro----*/

.un-theme-intro{
    width: 80%;
    height: 300px;
    text-align: left;
    margin: 50px 0 0 10%;
    position: static;
}

.un-theme-intro h1{
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 10px;
}

.un-theme-intro p{
    font-size: 1.1em;
    line-height: 1.4em;
}

/*---------Video---------*/

video{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.video-div{
    padding-top: 20px;
    margin-top: 100px;
    text-align: center;
    background-color: #418FDE;
    color: white;
}

.video-div h2{
    font-size: 1.3em;
    padding-bottom: 10px;
}

.video-div p{
    font-size: 1.1em;
    line-height: 1.4em;
}

/*-------------About section----*/

.about-section{
    margin-top: 80px;
    padding-top: 20px;
    margin-bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #FFF;
    text-align: center;
    color: black;
}

.about-section h2{
    margin-bottom: 30px;
    font-size: 1.5em;
    padding-bottom: 10px;
}
    
.about-section p{
    text-align: left;
    width: 80%;
    margin-left: 13%;
    margin-bottom: 50px;
    font-size: 1.1em;
    line-height: 1.4em;
}

.about-section a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.1em;
}

.about-section a:hover{
    background-color: #4d4d4d;
    transition: 0.2s;
}

/*------------Become a member section----*/

.member-cta-wrapper{
    margin-top: 130px;
    padding-top: 20px;
    width: 100%;
    height: 450px;
    background-color: #418FDE;
    text-align: center;
    color: white;
}

.member-cta-wrapper h2{
    margin-bottom: 30px;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-top: 60px;   
}

.member-cta-wrapper p{
    text-align: left;
    width: 80%;
    margin-left: 13%;
    margin-bottom: 60px;
    font-size: 1.1em;
    line-height: 1.4em;
}

.member-cta-wrapper a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 0 20px;
    font-size: 1.2em;
    padding: 14px 10px;
    border-radius: 5px;
    background-color: #FD9D24;
    color: black;
}

.member-cta-wrapper a:hover{
    background-color: #4d4d4d;
    color: white;
    transition: 0.2s;
}

.member-cta-wrapper a:active{
    background-color: #333;
    color: white;
}

/*--------Rotating animation-----------*/

.rotating-sdg-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

.rotating-sdg-wrapper:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -35px;
    right: -35px;
    background-size: contain;
    z-index: -1;
    background-image: url(../images/sdg-wheel.png);
    background-repeat: no-repeat;
    -webkit-animation: rotating 10s infinite linear;
}

@-webkit-keyframes rotating {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*--------Beliefs-Section--------*/

.fun-showcase{
    text-align: center;
    height: 400px;
    margin-top: 120px;
}

.fun-showcase img{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.fun-showcase h2{
    margin-bottom: 30px;
    font-size: 1.5em;
    padding-bottom: 10px;
}



/*--------Newsletter-cta-----*/

.newsletter-cta{
    width: 100%;
    height: 200px;
    background-color: #418FDE;
    color: white;
}

.newsletter-cta h3{
    float: left;
    margin: 25px 0 0 10px;
    font-size: 1.4em;
}

.newsletter-cta a{
    margin: 30px 10px 0 0;
    padding: 10px 20px;
    background-color: #FD9D24;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
    float: right;
}

.newsletter-cta p{
    float: left;
    width: 80%;
    margin: 30px 0 0 10px;
}

.newsletter-cta a:hover{
    background-color: #4d4d4d;
    color: white;
    transition: 0.2s;
}

.newsletter-cta a:active{
    background-color: #4d4d4d;
    color: white;
    transition: 0.2s;
}


/*--------SDG-------*/

.sdg-logo img{
    width: 100%;
    height: auto;
    margin: 30px 0 20px 0;
}

/*------Footer----------*/


#main-footer{
    height: 500px;
    width: 100%;
    background-color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

#main-footer a{
    color: white;
    text-decoration: none;
}

#main-footer li{
    list-style: none;
    font-size: 0.9em;
    display: inline-block;
    width: 150px;
    padding-left: 20%
}

#main-footer ul{
    margin-left: 0;
    padding: 10px 0 20px 10px;
    text-align: left;
}

.footer-nav h4{
    margin: 0;
    text-align: center;
    padding: 30px 0 0 0px
}

.footer-contact h4{
    margin: 0;
    text-align: center;
    padding: 30px 0 0 0px
}

.footer-contact i{
    text-align: center;
    font-size: 2em;
    padding: 30px 0 0 0;
}

.footer-contact p{
    font-size: 0.8em;
}

.news-footer-link{
    margin-bottom: 20px
}

#main-footer .footer-social i{
    font-size: 2.5em;
    margin: 0 auto;
    padding: 0 20px 25px 20px
}

#main-footer a:hover{
    color: #00ADEF;
    transition: 0.2s;
}

#main-footer .footer-social a:hover{
    color: #4D4D4D;
    transition: 0.2s;
}

#main-footer a:active{
    color: #00ADEF;
    transition: 0.2s;
}

#main-footer .footer-social a:active{
    color: #4D4D4D;
    transition: 0.2s;
}

/*------Footer-grid-placement------*/

.footer-nav{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.footer-social{
    border-bottom: 2px solid #418FDE;
    border-top: 2px solid #418FDE;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    padding-top: 20px;
}

.footer-contact{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    text-align: center;
}

.footer-copyright{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}


/*------------Home Page Media Queries-------------*/


@media only screen and (min-width: 600px){
    
    /*--------Navigation-------*/
    
    #dropdown ul{
        margin-left: 200px;
    }
    
    
    #events-dropdown ul{
        margin-left: 0;
    }
    
    /*---------Video Div---------*/
    
    .video-div video{
        width: 80%;
    }
    
    /*-------Newsletter cta-------*/
    
    .newsletter-cta h3{
        margin-left: 20%;
        font-size: 2em;
    }
    
    .newsletter-cta p{
        margin-left: 20%;
        font-size: 1.2em;
    }
    
    .newsletter-cta a{
        margin-right: 10%;
    }
    
}

@media only screen and (min-width: 900px){
    
    
    /*---Navigation----*/

    #main-nav .container{
        display: none;
    }

   /*--------Dropdown Nav--------*/

    #dropdown{
        height: 0px;
        top: 0;
        position: static;
        width: 100%;
        margin-left: 0;
        background-color: transparent;
        opacity: 1;
        z-index: 99;
        position: fixed;
        float: left;
        transition: none;
        overflow: visible;
        font-size: 1em;
        text-align: center;
        right: 0;
    }

    #dropdown ul{
        position: absolute;
        padding: 0;
        margin-top: 10px;
        right: 0;
    }

    #dropdown ul li{
        padding: 0px 0 10px 20px;
        margin: 0;
        display: inline-block;
    }

    #dropdown ul li a{
        padding: 5px 0;
        display: inline-block;
        position: relative;
    }


    /*---------Events dropdown-----*/

    #events-dropdown{
        height: 0px;
        width: 200px;
        background-color: #366DD6;
        opacity: 1;
        z-index: 8;
        border: none;
        transition: none;
        overflow: hidden;
        font-size: 1em;
        text-align: left;
        position: absolute;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #events-dropdown ul{
        padding-top: 5px;
        position: static;
        margin-left: 0;
    }

    #events-dropdown ul li{
        list-style: none;
        padding: 0 0 0 10px;
        display:block;
    }

    #events-dropdown ul li a{
        padding: 5px 0;
        display: block;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        font-family: 'Roboto', sans-serif;
    }
    
    .get-involved{
        padding: 15px 20px !important;
        background-color: #FD9D24;
        font-size: 1.2em;
        color: black !important;
        font-weight: 600;
        margin-right: 25px;
        border-radius: 5px !important;
    }
    
    .get-involved:hover{
        background-color: #4f4f4f;
        color: white !important;
        transition: 0.25s;
        text-decoration: none !important;
    }
    
    .get-involved:active{
        background-color: #333;
    }

    
    /*-----Header---------*/
    
    #main-header .header-image{
        height: 600px;
    }

    #main-header{
        height: 600px;
        overflow: visible;
    }
    
    #main-header .header-image-background{
        height: 600px;
        position: relative;
    }
    #main-header .header-image-background::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #014BCA;
        z-index: -10;
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY(20deg);
        content: '';
    }
    
    /*---------Grid Wrapper----*/
    
   
    
    /*---------first-section--------*/
    
    .section1-wrapper{
        background-color: transparent;
        width: 60%;
        height: 400px;
        text-align: center;
        padding: 165px 0;
        color: black;
        position: relative;
    }

    .sections a{
        text-decoration: none;
        margin: 0 10px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.5em;
    }


    /*----------first section intro----*/

    .un-theme-intro{
        width: 80%;
        height: 270px;
        text-align: left;
        margin: 50px 0 0 10%;
        position: static;
    }

    /*---------Video---------*/

    video{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }

    .video-div{
        padding-top: 195px;
        margin-top: 0;
        text-align: center;
        background-color: transparent;
        color: white;
        width: 50%;
        margin-left: 50%;
        position: relative;
    }

    .video-div h2{
        font-size: 1.4em;
    }


    /*-------------About section----*/

    .about-section{
        margin-top: 0;
        padding-top: 190px;
        margin-bottom: 0;
        width: 60%;
        height: 400px;
        background-color: transparent;
    }
    
    /*--------Rotating animation-----------*/

    .rotating-sdg-wrapper{
        display: none;
    }

    /*--------Newsletter-cta-----*/

    .newsletter-cta{
        width: 60%;
        margin-left: 40%;
        height: 400px;
        background-color: transparent;
        color: white;
        padding-top: 250px;
        text-align: center;
    }

    .newsletter-cta h3{
        float: none;
        margin: 25px 0 30px;
        font-size: 1.7em;
    }

    .newsletter-cta a{
        margin: 30px 10px 0 0;
        padding: 10px 20px;
        background-color: #FD9D24;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.5em;
        float: none;
    }

    .newsletter-cta p{
        float: none;
        width: 80%;
        margin: 30px 0 0 10%;
    }
    
     /*--------SHowcase--------*/

    .fun-showcase{
        text-align: center;
        height: 400px;
        margin-top: 320px;
        position: static;
    }
    
    .fun-showcase img{
        border-radius: 10px;
    }

    /*--------SDG-------*/

    .sdg-logo img{
        width: 50%;
        margin: 30px 0 20px 25%;
    }
    
    /*------------Become a member section----*/

    .member-cta-wrapper{
        margin-top: 100px;
        padding-top: 20px;
        width: 100%;
        height: 350px;
        background-color: #418FDE;
        text-align: center;
        color: white;
    }

    .member-cta-wrapper a{
        font-size: 1.4em;
    }
    
    /*-------Background-lines------*/
    
   .wrapper1{
        height: 400px;
        position: relative;
    }
    .wrapper1::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: -1;
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(160deg);
        content: '';
    }
    
    
    .wrapper2{
        height: 400px;
        background-color: #418FDE;
        position: relative;
        z-index: -2
    }
    
    .wrapper2::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #418FDE;
        z-index: -2;
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY(19deg);
        content: '';
    }
    
    
    .wrapper3{
        height: 400px;
        position: relative;
        z-index: -3;
    }
    .wrapper3::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: -3;
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(160deg);
        content: '';
    }
    
    .wrapper4{
        height: 400px;
        background-color: #418FDE;
        position: relative;
        z-index: -4
    }
    
    .wrapper4::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #418FDE;
        z-index: -4;
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY(19deg);
        content: '';
    }
    
    body{
        z-index: -99;
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
    

    
    /*------Footer----------*/




    #main-footer{
        height: 500px;
        width: 100%;
        background-color: #333;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #main-footer a{
        color: white;
        text-decoration: none;
    }

    #main-footer li{
        list-style: none;
        font-size: 1em;
        display: block;
        width: auto;
        padding-left: 20%;
    }

    #main-footer ul{
        margin-left: 0;
        padding: 10px 0 20px 0px;
        text-align: center;
    }

    .footer-nav h4{
        margin: 0;
        text-align: center;
        padding: 30px 0 0 20%;
        font-size: 1.5em;
    }

    .footer-contact h4{
        margin: 0;
        text-align: center;
        padding: 30px 20% 0 0;
        font-size: 1.5em;
    }

    .footer-contact i{
        text-align: center;
        font-size: 2em;
        padding: 30px 20% 0 0;
    }
    
    .footer-contact a{
        font-size: 2em;
    }

    .footer-contact p{
        font-size: 0.8em;
        padding-right: 20%;
    }

}


@media only screen and (min-width: 1100px){
    
    /*--------NAV-----*/
    
    #logo{
        width: 90px;
        margin: 15px 0 0 15px;
    }
    
    #main-nav{
        height: 100px; 
    }
    
    #main-nav p{
        margin-top: 37px;
        font-size: 1em;
    }
    
    #main-header{
        margin-top: 100px;
    }
    
    
    /*--------Dropdown Nav--------*/

    #dropdown{
        font-size: 1.3em;
        margin-top: 20px;
    }


    .newsletter-cta p{
        float: none;
        width: 60%;
        margin: 30px 0 0 20%;
    }
    
    
     /*-------Background-lines------*/
    
    #main-header .header-image-background::after{
        transform: skewY(8deg) !important;
        content: '';
    }
    
   .wrapper1{
        height: 500px;
    }
    
    .wrapper1::after{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: -1;
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(175deg);
        content: '';
    }

    .wrapper2{
        height: 500px;
    }
    
    .wrapper2::after{
        transform: skewY(5deg);
    }
    
    .wrapper3{
        height: 500px;
    }
    .wrapper3::after{
        width: 100%;
        height: 1000px;
        background-image: url(../images/sdg17-mini-min.png);
        background-attachment: fixed;
        background-size: 30%;
        background-position: right;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -3;
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(175deg);
        content: '';
    }
    
    .wrapper4{
        height: 500px;
    }
    
    .wrapper4::after{
        transform: skewY(5deg);
    }
    
    /*---------Footer------*/
    
    .footer-social{
        font-size: 2em;
    }
    
    #main-footer{
        height: auto;
    }
    
    /*---------first-section--------*/
    
    .section1-wrapper{
        padding: 100px 0;
        font-size: 1.2em;
    }

    /*------Video Div--*/
    
    .video-div{
        padding-top: 90px;
        font-size: 1.2em;
    }

    /*-------------About section----*/

    .about-section{
        padding-top: 110px;
        font-size: 1.2em;
    }
    
    /*--------Newsletter-cta-----*/

    .newsletter-cta{
        padding-top: 140px;
        font-size: 1.2em;
    }

    .fun-showcase{
        margin-top: 200px;
        font-size: 1.2em;
    } 
    
}



@media only screen and (min-width: 1370px){
 

    /*---------first-section--------*/
    
    .section1-wrapper{
        padding: 130px 0;
    }

    /*------Video Div--*/
    
    .video-div{
        padding-top: 70px;
    }

    /*-------------About section----*/

    .about-section{
        padding-top: 120px;
    }
    
    /*--------Newsletter-cta-----*/

    .newsletter-cta{
        padding-top: 160px;
    }

}


@media only screen and (min-width: 1650px){
    
     /*---------first-section--------*/
    
    .section1-wrapper{
        padding: 130px 0;
    }

    /*------Video Div--*/
    
    .video-div{
        padding-top: 80px;
    }

    /*-------------About section----*/

    .about-section{
        padding-top: 160px;
    }
    
    /*--------Newsletter-cta-----*/

    .newsletter-cta{
        padding-top: 180px;
    }

}


@media only screen and (min-width: 2220px){
    
    #logo{
        margin-left: 15%;
    }
    
    
    /*--------Dropdown Nav--------*/

    #dropdown{
        margin-right: 15%;
    }
    
}
